* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #dedede;
  text-align: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, #0f0e1c, #250a37);
}

.App {
  max-width: 400px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App header {
  padding: 20px;
}

.App .active-card h4 {
  margin-bottom: 10px;
}

.App .inactive-cards {
  position: relative;
}

.App .inactive-cards .card {
  position: absolute;
  left: -140px;
}

.App .inactive-cards .card:hover .hidden-buttons {
  display: block;
}

.App .inactive-cards .card:nth-of-type(1) {
  top: 45px;
}

.App .inactive-cards .card:nth-of-type(2) {
  top: 90px;
}

.App .inactive-cards .card:nth-of-type(3) {
  top: 135px;
}

.App .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  height: 165px;
  width: 280px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 5px #171724;
          box-shadow: 0px 0px 5px 5px #171724;
}

.App .card .card-images {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .card .card-images .chip {
  width: 50px;
  height: 30px;
  background-color: #ded9b9;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10px;
  border-radius: 3px;
}

.App .card .card-number {
  font-size: 18px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .card .card-number p {
  text-shadow: 0.5px 0.5px 1px #292929, -0.5px -0.5px 1px #c5c5c5;
}

.App .card .card-info {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App .card .card-info div:first-child p {
  text-align: left;
}

.App .card .card-info .label {
  font-size: 8px;
}

.App .card .hidden-buttons {
  display: none;
  position: absolute;
  top: 8px;
  left: 20px;
}

.App .card .hidden-buttons button {
  background-color: transparent;
  border: none;
}

.App .card .hidden-buttons button:hover {
  text-decoration: underline;
  font-size: 14px;
}

.App .card .hidden-buttons button i {
  color: black;
}

.App .American {
  background: linear-gradient(325deg, #005aa0 20%, #0091ff 65% 66%, #0064c8 100%);
}

.App .American .logo {
  height: 40px;
  width: 55px;
  background-image: url("../resources/amex.png");
  background-size: cover;
  background-position: center;
}

.App .Mastercard {
  background: linear-gradient(325deg, #00781e 20%, #00b437 65% 66%, #00781e 100%);
}

.App .Mastercard .logo {
  height: 42px;
  width: 55px;
  background-image: url("../resources/mastercard.png");
  background-size: cover;
  background-position: center;
}

.App .Visa {
  background: linear-gradient(325deg, #730a00 20%, #be0f00 65% 66%, #7d0a00 100%);
}

.App .Visa .logo {
  height: 25px;
  width: 55px;
  background-image: url("../resources/visa.png");
  background-size: cover;
  background-position: center;
}

.App .Diners {
  background: linear-gradient(325deg, #8c7d00 20%, #beaa00 65% 66%, #968700 100%);
}

.App .Diners .logo {
  height: 40px;
  width: 45px;
  background-image: url("../resources/diners.png");
  background-size: cover;
  background-position: center;
}

.App .no-vendor {
  background: linear-gradient(325deg, #6e6e6e 20%, #aaaaaa 65% 66%, #828282 100%);
}

.App .add-new-card-btn, .App .max-msg {
  position: absolute;
  bottom: 30px;
}

.App .add-new-card-btn button, .App .max-msg button {
  width: 280px;
  height: 40px;
}

.App .add-new-card-form {
  width: 280px;
  margin-top: 40px;
}

.App .add-new-card-form > * {
  margin-bottom: 10px;
}

.App .add-new-card-form .input, .App .add-new-card-form .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .add-new-card-form .input label, .App .add-new-card-form .buttons label {
  font-size: 12px;
}

.App .add-new-card-form .small-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.App .add-new-card-form .small-input > * {
  width: 140px;
}

button, input, select, option {
  padding: 4px 12px;
  color: #1e1e2d;
}

button {
  cursor: pointer;
}

input, select, option, label {
  text-align: left;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  color: #1e1e2d;
}
/*# sourceMappingURL=style.css.map */