* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(222, 222, 222);
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, rgb(15, 14, 28), rgb(37, 10, 55));
}

.App {
    max-width: 400px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
        padding: 20px;
    }

    .active-card {

        h4 {
            margin-bottom: 10px;
        }
    }

    .inactive-cards {
        position: relative;

        .card {
            position: absolute;

            left: -140px;

            &:hover {
                background: rgb(135, 87, 87);
                // transform: rotate(.5deg);

                .hidden-buttons {
                    display: block;
                }
            }
        }

        @for $i from 1 to 4 {
            .card:nth-of-type(#{$i}) {
                top: $i*35px;
            }
        }

    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        height: 165px;
        width: 280px;
        border-radius: 8px;
        box-shadow: 0px 0px 5px 5px rgb(23, 23, 36);

        .card-images {
            flex-basis: 50%;
            display: flex;
            justify-content: space-between;

            .chip {
                width: 50px;
                height: 30px;
                background-color: rgb(222, 217, 185);
                align-self: flex-end;
                margin-bottom: 10px;
                border-radius: 3px;
            }

            .logo {
                width: 50px;
                height: 30px;
                background-color: rgb(20, 19, 15);
            }
        }

        .card-number {
            font-size: 18px;
            flex-basis: 25%;
            display: flex;

            p {
                text-shadow: (.5px .5px 1px rgb(41, 41, 41), -.5px -.5px 1px rgb(197, 197, 197))

            }
        }

        .card-info {
            flex-basis: 25%;
            display: flex;
            justify-content: space-between;

            div:first-child {

                .label {
                    text-align: left;
                }
            }

            .label {
                font-size: 10px;
            }
        }

        .hidden-buttons {
            display: none;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .American {
        background: linear-gradient(
            325deg, 
            rgb(0, 90, 160) 20%,
            rgb(0, 145, 255) 65% 66%,
            rgb(0, 100, 200) 100%);
    }

    .Mastercard {
        background: linear-gradient(
            325deg, 
            rgb(0, 120, 30) 20%,
            rgb(0, 180, 55) 65% 66%,
            rgb(0, 120, 30) 100%);
    }

    .Visa {
        background: linear-gradient(
            325deg, 
            rgb(115, 10, 0) 20%,
            rgb(190, 15, 0) 65% 66%,
            rgb(125, 10, 0) 100%);
    }

    .add-new-card-btn {
        width: 280px;
        height: 40px;
        position: absolute;
        bottom: 30px;
    }

    .add-new-card-form {

        .input {
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
            }
        }

        .small-input {
            display: flex;
            flex-direction: row;
        }
    }

}

button, input, select, option {
    padding: 4px 12px;
    color: rgb(30, 30, 45);
}

input, select, option, label {
    text-align: left;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: rgb(30, 30, 45);
}